<template lang="pug">
  .card__header
    .card__header__left
      h1(v-html="title")

    .card__header__right
      slot
      router-link.ui.button.positive(:to="buttonUrl", v-if="buttonUrl")
        i(:class="iconClass")
        | {{action}}
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    title: String,
    action: String,
    buttonUrl: String,
    icon: String
  },
  computed: {
    iconClass() {
      if (this.icon) return `fas fa-${this.icon}`;
      return "fas fa-plus";
    }
  }
});
</script>
