<template lang="pug">
  router-link.link-back(:to="url" v-text="text")
</template>

<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";

export default Vue.extend({
  computed: mapState({
    url(state: any) {
      if (state.clients.id) return `/clients/${state.clients.id}`;
      else return "/";
    },
    text(state: any) {
      if (state.clients.params.name)
        return `<< 店家：${state.clients.params.name}`;
      return "<< 返回主頁";
    }
  })
});
</script>