<template lang="pug">
  div
    topbar(:user="user")
    .ui.container
      main.ui.card
        .content
          router-view
</template>

<script lang="ts">
import Vue from "vue";
import Topbar from "./Topbar.vue";
import router from "./routes";

export default Vue.extend({
  components: { Topbar },
  props: ["user"],
  router
});
</script>
