<template lang="pug">
  header.topbar
    .ui.container
      router-link(to="/") お店・店家管理系統
      .topbar__profile.push-right
        a(href="/sign-out") 登出
        span
          | {{ user.displayName }}
          img(:src="user.profilePicture")
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: ["user"]
});
</script>