<template lang="pug">
div
  card-header(title="店家一覽", buttonUrl="/clients/new", action="新增店家")

  table.ui.table.celled.selectable.fixed
    thead
      th 名稱
      th 負責人
      th 聯絡電話
    tbody
      tr(v-for="client in clients", :key="client.id", @click="navigateTo(client)", title="點擊以瞭解詳細")
        td(v-html="client.name")
        td(v-html="client.contactPerson")
        td(v-html="client.phone")
</template>

<script lang="ts">
import Vue from "vue";
import CardHeader from "../components/CardHeader.vue";
import { IClientParams } from "../../../src/models/Client";
import { mapState, mapActions } from "vuex";

export default Vue.extend({
  components: { CardHeader },
  methods: {
    navigateTo({ _id }: any) {
      this.$router.push(`/clients/${_id}`);
    }
  },
  computed: mapState({
    clients: (state: any) => state.clients.all
  }),
  created() {
    this.$store.dispatch("clients/fetchAll");
  }
});
</script>