<template lang="pug">
  div(v-if="!loading")
    link-back
    card-header(:title="title", :buttonUrl="buttonUrl", action="編輯", icon="edit")
      button.ui.button.negative(@click="deleteClient") 刪除店家

    table.ui.table.celled
      tbody
        tr
          td ID
          td(v-text="client._id")

        tr
          td 店家名稱
          td(v-text="client.name")

        tr
          td 聯絡電話
          td(v-text="client.phone")

        tr
          td 負責人
          td(v-text="client.contactPerson")

        tr
          td 店家地址
          td(v-text="address")
</template>

<script lang="ts">
import Vue from "vue";
import CardHeader from "../components/CardHeader.vue";
import LinkBack from "../components/LinkBack.vue";
import { mapState, mapActions } from "vuex";
import { IClientParams } from "../../../src/models/Client";
import Clients from "../api/Clients";

export default Vue.extend({
  data: () => ({
    loading: true
  }),
  components: { CardHeader, LinkBack },
  computed: {
    ...mapState({
      client: (state: any) => state.clients.client
    }),
    title() {
      return `顯示店家：${this.client.name}`;
    },
    address() {
      const { zipcode, area, city, address } = this.client;
      return `${zipcode}${city}${area}${address}`;
    },
    buttonUrl() {
      return `/clients/${this.client._id}/edit`;
    }
  },
  async created() {
    await this.$store.dispatch("clients/fetchOne", this.$route.params.id);
    this.loading = false;
  },
  methods: {
    async deleteClient() {
      const id = this.client._id;
      const confirmation = "您確定要刪除這個店家嗎？這個動作無法撤銷。";
      if (id && confirm(confirmation)) {
        const res = await Clients.deleteClient(id);
        if (res.success) this.$router.push("/");
      }
    }
  }
});
</script>
