<template lang="pug">
div(v-if="!loading")
  link-back
  card-header(:title="title")

  form.ui.form(@submit.prevent="submit")
    h3 基本資訊
    .three.fields
      .field
        label 店家名稱：
        input(type="text", name="name", placeholder="株式会社ポケモン" :value="params.name", @change="update", autofocus)
        span.error-explanation(v-if="errors.name" v-text="errors.name")

      .field
        label 聯絡電話：
        input(type="text", name="phone", placeholder="0912345678", :value="params.phone", @change="update")
        span.error-explanation(v-if="errors.phone" v-text="errors.phone")

      .field
        label 負責人：
        input(type="text", name="contactPerson", placeholder="王小明先生", :value="params.contactPerson", @change="update")
        span.error-explanation(v-if="errors.contactPerson" v-text="errors.contactPerson")

    h3 店家地址
    p 請填寫郵遞區號三號或從選單中選擇縣市與地區。
    .three.fields
      .field
        label 郵遞區號：
        input(type="text", name="zipcode", placeholder="100", @change="update", :value="params.zipcode")
        span.error-explanation(v-if="errors.zipcode" v-text="errors.zipcode")

      .field
        label 城市：
        .select
          select.ui.dropdown(name="city", @input="update", :value="params.city")
            option(value="") 請選擇：
            option(v-for="city in cities", :value="city", v-html="city")
          span.error-explanation(v-if="errors.city" v-text="errors.city")

      .field
        label 地區：
        .select
          select.ui.dropdown(name="area", @input="update", v-model="params.area")
            option(value="") 請選擇：
            option(v-for="area in areas[params.city]", :value="area", v-html="area")
          span.error-explanation(v-if="errors.area" v-text="errors.area")

    .field
      label 地址：
      input(type="text", name="address", placeholder="南京東路一段2號", :value="params.address", @change="update")
      span.error-explanation(v-if="errors.address" v-text="errors.address")

    button.ui.right.floated.button.large.positive(type="submit") 儲存更改
</template>

<script lang="ts">
import Vue from "vue";
import CardHeader from "../components/CardHeader.vue";
import LinkBack from "../components/LinkBack.vue";
import ZipCodeHelper from "../../../src/util/ZipCodeHelper";
import { mapState } from "vuex";
import vSelect from "vue-select";
import c = require("config");

export default Vue.extend({
  components: { CardHeader, LinkBack },
  data() {
    return { loading: true };
  },
  computed: {
    ...mapState({
      params: (state: any) => state.clients.params,
      errors: (state: any) => state.clients.errors,
      cities: ZipCodeHelper.cities,
      areas: ZipCodeHelper.byCity,
      title: (state: any) => {
        if (state.clients.id) return `編輯店家：${state.clients.params.name}`;
        return "新增店家";
      }
    })
  },
  async created() {
    const id = this.$route.params.id;
    if (id) await this.$store.dispatch("clients/fetchForEdit", id);
    this.loading = false;
  },
  methods: {
    update(event) {
      const { name, value } = event.target;
      this.$store.dispatch("clients/changeParams", { field: name, value });
    },
    async submit() {
      const res = await this.$store.dispatch("clients/save");
      if (res.success) {
        this.$router.push(`/clients/${res.data._id}`);
      }
    }
  }
});
</script>
