extends layout.html.pug

block body
  body.full-screen
    .landing
      .ui.card.landing__card
        h1 お店・店家管理系統

        p 為開始使用此系統，<br/>請使用LINE登入或註冊。

        a.ui.button.teal(href="/login") LINE登入
        span

      .img-attribution
        | Photo by <a href="https://unsplash.com/@tangchilee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">TangChi Lee</a> on <a href="https://unsplash.com/s/photos/taipei?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>