$body-bg: #f8f8f8
$font-latin: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI"
$font-cjk: "PingFang TC"
$font-sans: $font-latin, $font-cjk, sans-serif
$blue: #2980b9
$green: #2daf4a
$red: #e74c3c
$olive: #27ae60
$teal: #16a085
$grey: #95a5a6
$orange: #FE9A76
$yellow: #FFD700
$violet: #EE82EE
$purple: #B413EC
$pink: #FF1493
$brown: #A52A2A
$primary: $blue
$topbar-height: 50px

@function overlay($color: #000, $alpha: 0.5)
  @return linear-gradient(rgba($color, $alpha), rgba($color, $alpha))

body
  font-family: $font-sans
  background: $body-bg

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    font-size: 1.1rem

  &:not(.full-screen)
    padding-top: calc(#{$topbar-height} + 1rem)

.landing
  width: 100vw
  height: 100vh
  background: overlay(#000), url(/static/bg-login.jpg)
  background-size: cover

.landing__card
  width: 320px
  height: 400px
  position: fixed
  top: 50%
  text-align: center
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .ui.button
    width: 50%

.img-attribution
  position: fixed
  padding: .5em .8em
  bottom: 2rem
  right: 2rem
  background: transparentize(white, .3)

  a:link, a:visited
    color: $primary

.topbar
  height: $topbar-height
  position: fixed
  top: 0
  left: 0
  right: 0
  background: $primary
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.35)
  color: white
  transition: .2s ease-in-out
  z-index: 10

  .container
    display: flex

  a, a:visited, span
    display: inline-flex
    align-items: center
    padding: 0 1em
    color: inherit
    height: $topbar-height
    line-height: $topbar-height

  a:hover
    background: darken($primary, 6%)

.topbar__profile
  display: flex
  align-items: center
  img
    height: 0.7 * $topbar-height
    border-radius: 50%
    margin-left: .7em

main.ui.card
  width: 100%

button, a
  .far, .fas
    margin-right: .5em

.card__header
  display: flex
  justify-content: space-between

.push-right
  margin-left: auto

.ui.table.selectable
  tbody tr:hover
    cursor: pointer

.select
  position: relative
  &::after
    position: absolute
    content: url(/static/caret-down.svg)
    width: .5em
    top: 50%
    right: 1em
    transform: translateY(-50%)

select.ui.dropdown
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  position: relative

  &:focus
    border-color: #85B7D9

.error-explanation
  display: inline-block
  background-color: transparentize($red, .9)
  color: darken($red, 15%)
  font-size: .8em
  padding: .05em .2em .05em .5em
  margin-top: .25em

.link-back
  display: block
  margin-bottom: .5em